In [23]:
# import modules
import numpy as np
import pandas as pd
from bokeh.io import output_file, save, curdoc
from bokeh.plotting import figure, show
from bokeh.layouts import column, row
from bokeh.models.widgets import Tabs, Panel
from bokeh.models import CDSView, ColumnDataSource, GroupFilter, Div, HoverTool

In [24]:
df = pd.read_csv("covid_19_indonesia_time_series_all.csv")
df.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,41,...,-6.204699,0.18,3.60,0.0,1.84,0.18,51.28%,105.13%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,41,...,-6.204699,0.18,3.78,0.0,1.84,0.18,48.78%,100.00%,1.0,1.0
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,-0.789275,0.01,0.01,0.0,0.00,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,ID-RI,Riau,1,0,0,1,2,0,3,...,0.511648,0.16,0.33,0.0,0.00,0.00,0.00%,150.00%,NaN,NaN
4,3/3/2020,ID-JK,DKI Jakarta,2,0,0,2,43,20,41,...,-6.204699,0.18,3.96,0.0,1.84,0.18,46.51%,95.35%,1.0,1.0

In [25]:
# read data
Location = ['Banten','DKI Jakarta','Riau', 'Bali', 'Jambi']

df = pd.read_csv("covid_19_indonesia_time_series_all.csv", parse_dates=['Date'])
data = df[df.Location.isin(Location)] 
data.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,2020-03-01,ID-JK,DKI Jakarta,2,0,0,2,39,20,41,...,-6.204699,0.18,3.60,0.0,1.84,0.18,51.28%,105.13%,NaN,NaN
1,2020-03-02,ID-JK,DKI Jakarta,2,0,0,2,41,20,41,...,-6.204699,0.18,3.78,0.0,1.84,0.18,48.78%,100.00%,1.0,1.0
3,2020-03-02,ID-RI,Riau,1,0,0,1,2,0,3,...,0.511648,0.16,0.33,0.0,0.00,0.00,0.00%,150.00%,NaN,NaN
4,2020-03-03,ID-JK,DKI Jakarta,2,0,0,2,43,20,41,...,-6.204699,0.18,3.96,0.0,1.84,0.18,46.51%,95.35%,1.0,1.0
7,2020-03-03,ID-RI,Riau,0,0,0,0,2,0,3,...,0.511648,0.00,0.33,0.0,0.00,0.00,0.00%,150.00%,0.0,1.0

In [26]:
# output to file
output_file('covid19.html',
             title = 'Visualisasi Data Interaktif Statistik COVID-19')

# Create and configure the figure
con_fig = figure(x_axis_type='datetime',
                  plot_height=400, plot_width=1000,
                  title='Click Legend to HIDE Data',
                  x_axis_label='Date', y_axis_label='New Cases')

dea_fig = figure(x_axis_type='datetime',
                  plot_height=400, plot_width=1000,
                  title='Click Legend to HIDE Data',
                  x_axis_label='Date', y_axis_label='New Deaths')

rec_fig = figure(x_axis_type='datetime',
                  plot_height=400, plot_width=1000,
                  title='Click Legend to HIDE Data',
                  x_axis_label='Date', y_axis_label='New Recovered')

In [27]:
# create a ColumnDataSource
covid_cds = ColumnDataSource(data)

In [28]:
# create views for 5 Country
ind_view = CDSView(source=covid_cds,
                  filters=[GroupFilter(column_name='Location', group='Banten')])

vie_view = CDSView(source=covid_cds,
                  filters=[GroupFilter(column_name='Location', group='DKI Jakarta')])

tha_view = CDSView(source=covid_cds,
                  filters=[GroupFilter(column_name='Location', group='Riau')])

phi_view = CDSView(source=covid_cds,
                  filters=[GroupFilter(column_name='Location', group='Bali')])

mal_view = CDSView(source=covid_cds,
                  filters=[GroupFilter(column_name='Location', group='Jambi')])

In [29]:
# format the tooltip
con_tooltips = [
            ('Location', '@Location'),
            ('New Cases', '@New Cases')
            ]

dea_tooltips = [
            ('Location', '@Location'),
            ('New Deaths', '@New New Deaths')
            ]

rec_tooltips = [
            ('Location', '@Location'),
            ('New Recovered', '@New New Recovered')
            ]

# format hover glyph
con_hover_glyph = con_fig.circle(x='Date', y='New Cases', source=covid_cds,
                                 size=7, alpha=0,
                                 hover_fill_color='white', hover_alpha=0.5)

dea_hover_glyph = dea_fig.circle(x='Date', y='New Deaths', source=covid_cds,
                                 size=7, alpha=0,
                                 hover_fill_color='white', hover_alpha=0.5)

rec_hover_glyph = rec_fig.circle(x='Date', y='New Recovered', source=covid_cds,
                                 size=7, alpha=0,
                                 hover_fill_color='white', hover_alpha=0.5)

# add the HoverTool to the figure
con_fig.add_tools(HoverTool(tooltips=con_tooltips, renderers=[con_hover_glyph]))
dea_fig.add_tools(HoverTool(tooltips=dea_tooltips, renderers=[dea_hover_glyph]))
rec_fig.add_tools(HoverTool(tooltips=rec_tooltips, renderers=[rec_hover_glyph]))

In [30]:
# consolidate the common keyword arguments in dicts
common_circle = {
    'source': covid_cds,
    'size': 5,
    'alpha': 1,
    'muted_alpha': 0
}
common_Banten = {
    'view': ind_view,
    'color': '#FC6E51',
    'legend_label': 'Banten'
}
common_Jakarta = {
    'view': vie_view,
    'color': '#370665',
    'legend_label': 'DKI Jakarta'
}
common_Riau = {
    'view': tha_view,
    'color': '#35589A',
    'legend_label': 'Riau'
}
common_Bali = {
    'view': phi_view,
    'color': '#F14A16',
    'legend_label': 'Bali'
}
common_Jambi = {
    'view': mal_view,
    'color': '#FC9918',
    'legend_label': 'Jambi'
}

In [31]:
# create the figures and draw the data
con_fig.circle(x='Date', y='New Cases', **common_circle, **common_Jakarta)
con_fig.circle(x='Date', y='New Cases', **common_circle, **common_Banten)
con_fig.circle(x='Date', y='New Cases', **common_circle, **common_Bali)
con_fig.circle(x='Date', y='New Cases', **common_circle, **common_Jambi)
con_fig.circle(x='Date', y='New Cases', **common_circle, **common_Riau)

dea_fig.circle(x='Date', y='New Deaths', **common_circle, **common_Jakarta)
dea_fig.circle(x='Date', y='New Deaths', **common_circle, **common_Banten)
dea_fig.circle(x='Date', y='New Deaths', **common_circle, **common_Bali)
dea_fig.circle(x='Date', y='New Deaths', **common_circle, **common_Jambi)
dea_fig.circle(x='Date', y='New Deaths', **common_circle, **common_Riau)

rec_fig.circle(x='Date', y='New Recovered', **common_circle, **common_Jakarta)
rec_fig.circle(x='Date', y='New Recovered', **common_circle, **common_Banten)
rec_fig.circle(x='Date', y='New Recovered', **common_circle, **common_Bali)
rec_fig.circle(x='Date', y='New Recovered', **common_circle, **common_Jambi)
rec_fig.circle(x='Date', y='New Recovered', **common_circle, **common_Riau
               )

# add interactivity to the legend
con_fig.legend.click_policy = 'mute'
dea_fig.legend.click_policy = 'mute'
rec_fig.legend.click_policy = 'mute'

In [32]:
# add a tittle for the entire visualization using Div
html = """<h3>Visualisasi Data Interaktif Statistik COVID-19</h3>
Kelompok: jANCOK <br>
Kelas: IF-4000-GAB06 <br>"""
sup_title = Div(text=html)

In [33]:
# Create three panels
con_panel = Panel(child=con_fig, title='New Cases')
dea_panel = Panel(child=dea_fig, title='New Deaths')
rec_panel = Panel(child=rec_fig, title='New Recovered')

# Assign the panels to Tabs
tabs = Tabs(tabs=[con_panel, dea_panel, rec_panel])

# Visualize
layout = row(column(sup_title, tabs))
curdoc().add_root(layout)

# save to file
save(layout)

'/content/covid19.html'